*{
  font-size: 16px;
}
.search-container{
  padding: 0;
  margin: 0;
  background-color:#FEE500;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.search{
  display: grid;
  grid-template-columns: .5fr 2fr .5fr;
  width: 100%;
}
.logo{
  background-image: url(https://play-lh.googleusercontent.com/lO0-UT9yyZ55shpgJVKcBxYGd1MWwdsxoK1GjNcd9FkcYHX4yjjj5OqktP0O1rVoTwU=w240-h480);
  width: 60px;
  height: 30px;
  background-color: red;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: none;

}
.search a:first-of-type{
  display: flex;
  /* align-items: center; */
  justify-content: center;
}
.search-bar{
  width: 100%;
  border-radius: 5px;
  outline: none;
  justify-content: center;
  display: flex;

}
.search-bar input:first-of-type{
  width: 70%;
  height: 70%;
}
.search-bar input:first-of-type:focus-visible{
  outline: solid #32a1ce 2px;
}
.search-promo{
  display: none;
}
.options{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  display: none;
}
#categories{
  background-color: #FEE500;
  border: none;
}
.options-menu{
  display: flex;
  width: 30%;
  gap: 5px;
  justify-content: space-around;
}
.options-menu button{
  color: rgba(51,51,51,.9);
  background-color: #FEE500;
  border: none;
  cursor: pointer;
  white-space: nowrap;
}
.options-menu button:focus{
  color: #000;
}
.options-user, .options-user figure{
  display: flex;
  flex-direction: row;

}

@media screen and (min-width: 600px) {
  *{
    font-size: 14px;
  }
  .search-bar input:first-of-type{
    height: 30%;
    font-size: .7rem;
  }
  .search{
    width: 100%;
  }
  .logo, .search-promo{
    display: block;
  }
  .hamburguerMenu, .mobile-notifications{
    display: none;
  }
  .options{
    display: flex;
    align-items: center;
  }
  .options-user{
    justify-content: space-around;
    width: 16rem;
  }
}
