

<div class="products-container">

  <mat-card   *ngFor="let photo of AllPhotos" style="border: 1px black solid;">
    <mat-card-header >
      <mat-card-title> <span>{{photo.title}}</span>
      <br>
      <img mat-card-lg-image src="{{photo.images[0]}}" alt="">

      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>${{photo.price}}</p>
    </mat-card-content>
    <mat-card-footer>
      <a [routerLink]="'/product/'+photo.id">
        <button mat-raised-button>Comprar</button>

      </a>
    </mat-card-footer>
      <ng-container *ngIf="photo.clicked" >
        <div class="message" [class.selected]="photo.price > 100">
          <h1>{{photo.title}}</h1>
          <p><strong>Description:</strong> {{photo.description}}</p>
        </div>
      </ng-container>
  </mat-card>
</div>
