@mixin calcImg($width: 100px){
  max-width: $width;
  max-height: $width;
  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.main-container{

}
.product-container{
  margin: 15px;
  display: grid;
  grid-template-columns: 100px 1fr 200px;
  grid-gap: 50px;
  margin-top: 5rem;
  .img-product{
    cursor: pointer;
    &:active{
      border: 1px solid blue;
    }

    @include calcImg($width: 60px)
  }
  .freeSend{
    color: #A5D41F;
    gap: 10px;
    display: flex;
    p{
      z-index: -1;
    }
  }
  section{
    box-shadow: 0 0 3px 2px #000;
    padding: 20px;
    height: fit-content;
    button{
      width: 100%;
    }
  }
}
.main-img{
  @include calcImg($width: 25rem)
}
